################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/KURSV_OOP/.vs/KURSV_OOP/v17/Browse.VC.opendb
